
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Calendar: Upcoming Deadlines</h2>
<hr />

@if (ViewBag.EventList!=null)
{
    <table class="table table-hover">
        <tr>
            <th>Event Title</th>
            <th>Organizer</th>
            <th>description</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        @foreach (var item in ViewBag.EventList as List<PJMAN1_DEMO_.Controllers.calendarEvent>)
        {
            <tr>
                <td>@item.Summary</td>
                <td>@item.Organizer</td>
                <td>@item.Description</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                @*<td>@item.ColorId</td>*@

            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-danger">No upcoming deadlines</div> 
}



